.service-container{
    padding: 20px;
    background-color: rgb(241, 216, 206);
    border-radius: 25px;
}
.service-container img{
    width: 100%;
    height: auto;
}
.sub-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    text-align: center;
}
.description{
    text-align: justify;
}